/* CORPO DA PÁGINA */
*{
	margin: 0;
	padding: 0;
}

body{
		/* background: #DEB887; */
		background: #cceeff;
		/* background: #99dfff; */

}

/* ESPAÇO DAS PEÇAS DOS JOGADORES*/
#container{
	width: 1350px;
	height: 659px;
	border: 1px solid #111;
	position: relative;
	margin: 0 auto ;
	border-radius: 6px;
	background-color: #DEB887;
	/* background-color: #dab3ff; */
}

#containerMenor{
	width: 1322px;
	height: 629px;
	border: 1px solid #111;
	position: relative;
	margin: 10px 10px 10px 10px ;
	border-radius: 6px;
	background: url('../img/mad4.jpg');
	/* background: url('../img/campoo.jpg'); */
	/* background-color: #e6ccff; */

	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}


.containerPecas{
	width: 700px;
	height: 120px;
	background-color: #DEB887;
	border-radius: 10px;
	border: solid 4px #331a00;
	margin: 0 20px 0 310px;
	box-shadow: 2px 3px 3px #994d00;
}

#topo{
	width: 1322px;
	height: 130px;
}
#conteudo{
	width: 1322px;
	height: 365px;
}

#containerJogador2{
	border-style: double;
	border-color: #663300;
	margin-bottom: 376px;
	margin-top: 0;
}

#containerJogador1{
	border-style: double;
	border-color: #663300;
	margin-top: 0;
	margin-bottom: 600px;
}

#nomeJogador2,#nomeJogador1{
	border: solid 1px #805500;
}

/* PONTUAÇÃO */
#pontuacaoJg2, #pontuacaoJg1{
		width: 100px;
		height: 50px;
		border: solid 1px #994d00;
		background-color: #ffffff;
		box-shadow: 2px 3px 3px #994d00;
		border-radius: 6px;
		background: radial-gradient(90% 90%, #d6a76a, #fff);
		float: left;
}

#pontuacaoJg1{
margin-top:70px;
margin-left: 7px;
}


#pontuacaoJg2{
margin-top: 5px;
margin-left: 7px;
}

/* DOMINÓS */
.dominos{
	width: 50px;
	height: 90px;
	position: absolute; /*REVER*/
	border-radius: 10px;
	border: 1px ;
	margin-left: 25px;
	float: left;
	margin: 210px 10px 10px 300px;
}

.face{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transition: all 1s;
	backface-visibility: hidden; /* Visibilidade do verso Hidden(Oculto)*/
}

.versoDomino{
	background: url('../img/mattt.jpg');
	}

.frenteDomino{
	/* background: url('../img/mattt.jpg'); */
}

.versoDomino.virandoDom{
	transform: rotateY(180deg);
}

.frenteDomino{
	/* background-color:#604020; /* cor do elemento, nesse caso o dominó
	color: #FFFFFF;
	border: solid #000000; */
	/*padding: 1px 3px;*/
	transform: rotateY(-180deg);
}

.frenteDomino.virandoDom{
	border: 1.3px solid #994d00;
	transform: rotateY(0deg);

}

.dominos:hover{
	box-shadow: 5px 6px 10px #000000;
}

.centralizado{
    text-align: center;
    /*vertical-align: text-top;*/
  }

  .dominoSuperior, .dominoInferior{
    /* Ajusta o padding para jogar o texto mais centralizado no meio */
    padding-top: 15px;
    /* Ajusta o de baixo para jogar a linha e o resto mais para baixo */
    padding-bottom: 10px;
  }

  .divisoria{
    border: solid 1px #FFFFFF;
    margin-left: 6px;
    margin-right: 6px;

  }


/* TELA LOGIN */
.login{
    background-color:#cc99ff;
  	border: 1px solid #008f83;
		border-radius: 10px;
    width: 350px;
    text-align: center;
    /*20px para cima e para baixo*/
    /*automático para as laterais*/
    margin: 75px auto;
    padding: 50px;
		 background: radial-gradient(80% 80%, #009e91, #fff);
		box-shadow: 4px 5px 5px #008075;
  }

  /*formatar os inputs que tem a classe "campo" que estão dentro da
  classe "login".
  É possível utilizar vários seletores para formatar vários elementos
  com propriedades comuns
  */
  .login .campo, .login .botao{
    border: 1px solid #008f83;
		border-radius: 4px;
    /*"engorda" os elementos da classe campo*/
    padding: 10px 5px;
    width: 250px;
  }

  /*aplica essas propriedades somente no botão*/
  .login .botao{
    background-color:#00ebd7;
    color: #000000;
		font-family: "Times New Roman";
		font-size: 15px;
		border-radius: 6px ;
		width: 100px;
		border:#008f83;
		box-shadow: 4px 4px 1px #00ad9f;
  }

	.login .botao:hover{
		box-shadow: 5px 5px 8px #007067;
	}


	/* PÁGINA PRINCIPAL */
	#menu-topo ul{
			 /* Só aplica-se ao elemenimes New Romano ul
			 que está dentro do id menu-topo */
			 background-color:#996633;
			 list-style-type: none;
			 box-shadow: #994d00 2px 5px 6px;
			 text-align: center;
			 font-size: 18px;
			 /*Define uma largura máxima para a lista.
			 Útil para fazer menu na vertical.*/
			 /*width: 200px;*/
		 }

		 #menu-topo ul li{
			 /*Usado para mostrar o menu em linha*/
			 display: inline;
		 }
		 #menu-topo ul a{
			 color: #ffffff;
			 text-decoration: none;
			 display: inline-block;
			 padding: 5px 10px;
		 }
		 #menu-topo ul a:hover{
			 background-color:#d2a679;
		 }


		 /* TELA CADASTRO */
		 		.cadastro{
			 	background-color: #cc99ff;
 		  	border: 1px solid #008f83;
 				border-radius: 10px;
 		    width: 400px;
 		    text-align: center;
 		    /*20px para cima e para baixo*/
 		    /*automático para as laterais*/
 		    margin: 30px auto;
 		    padding: 50px;
 				background: radial-gradient(80% 80%, #009e91, #fff);
 				box-shadow: 4px 5px 5px #008075;
 		  }

 		  /*formatar os inputs que tem a classe "campo" que estão dentro da
 		  classe "login".
 		  É possível utilizar vários seletores para formatar vários elementos
 		  com propriedades comuns
 		  */
 		  .cadastro .campo, .cadastro .botao{
 		    border: 1px solid #008f83;
 				border-radius: 4px;
 		    /*"engorda" os elementos da classe campo*/
 		    padding: 10px 5px;
 		    width: 250px;
 		  }

 		  /*aplica essas propriedades somente no botão*/
 		  .cadastro .botao{
 		    background-color:#00ebd7;
				font-size: 15px;
				font-family: "Times New Roman";
 		    color: #000000;
 				border-radius: 6px ;
 				width: 100px;
 				border: #008f83;
 				box-shadow: 4px 4px 1px #00ad9f;
				margin: 10px;
				/* clear: left; */
 		  }

			.cadastro #botaoVoltar{
				display: inline;
				text-align: center;
				text-decoration: none;
				padding-bottom: 7px;
				background-color:#00ebd7;
				border-radius: 6px ;
				width: 100px;
				height: 25px;
				border: #008f83;
				box-shadow: 4px 4px 1px #00ad9f;
				/* font-size: 15px; */
				font-family: serif;
				color: #000000;
				margin:10px;
				/* text-shadow: 1px 1px 1px #994d00; */

 		  }

 			.cadastro .botao:hover{
 				box-shadow: 4px 4px 7px #007067;
 			}

			.cadastro #botaoVoltar:hover{
 				box-shadow: 4px 4px 7px #007067;
 			}


			/* TELA ESQUECEU SENHA */
 		 			.esqueceuSenha{
					background-color:#cc99ff;
				  border: 1px solid #008f83;
  				border-radius: 10px;
  		    width: 300px;
  		    text-align: center;
  		    /*20px para cima e para baixo*/
  		    /*automático para as laterais*/
  		    margin: 110px auto;
  		    padding: 50px;
  				background: radial-gradient(80% 80%, #009e91, #fff);
  				box-shadow: 4px 5px 5px #008075;
  		  }

  		  .esqueceuSenha .campo, .esqueceuSenha .botao{
  		    border: 1px solid #008f83;
  				border-radius: 4px;
  		    /*"engorda" os elementos da classe campo*/
  		    padding: 10px 5px;
  		    width: 250px;
					/* font-size: 18px;
					font-family: "Times New Roman"; */
  		  }


  		  .esqueceuSenha .botao{
					background-color:#00ebd7;
			    color: #000000;
  				border-radius: 6px ;
  				width: 120px;
  				border: #008f83;
  				box-shadow: 3px 4px 4px #008075;
 					clear: left;
 					margin: 10px;
					font-size: 15px;
  		  }

  			.esqueceuSenha .botao:hover{
  				box-shadow: 6px 6px 9px #007067;
  			}




				/* TELA COMO JOGAR */
						#regras{
						background-color: #cc99ff;
					  border: 1px solid #008f83;
	   				border-radius: 10px;
	   		    width: 700px;
	   		    text-align: center;
	   		    /*20px para cima e para baixo*/
	   		    /*automático para as laterais*/
	   		    margin: 10px auto;
	   		    padding: 50px;
	   				background: radial-gradient(90% 90%, #009e91, #fff);
	   				box-shadow: 4px 5px 5px #008075;
						font-size: 25px;
						font-family: inherit;
	   		    }

				.regras{
					text-align: justify;
					font-size: 20px;
				}

.imagensDomino{
	width: 85px;
	height: 160px;
	align:center;
}

#imagensDomino{
	width: 200px;
	height: 150px;
	align:center;
}

				/* TELA SOBRE */
				.sobre, .RegrasJogo{
						background-color: #cc99ff;
						border: 1px solid #008f83;
	   				border-radius: 10px;
	   		    width: 900px;
	   		    text-align: center;

	   		    /*20px para cima e para baixo*/
	   		    /*automático para as laterais*/
	   		    margin: 20px auto;
	   		    padding: 50px;
						background: radial-gradient(80% 70%, #009e91, #fff);
		 				box-shadow: 4px 5px 5px #008075;
						font-size: 25px;
						/* font-family: "Times New Roman"; */

	   		  }

					.sobre, p, .regras, li, .RegrasJogo, h2{
						font-size: 20px;
						text-align: justify;
						font-family: "Times New Roman";
						font-style: italic;
					}

					.sobre, h2 {
						font-size: 30px;
						text-align: center;
						font-family: "Times New Roman";
					}

					.sobre, p{
						text-indent: 50px;
					}


/* MONTANTE */
#botaoMontante{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border: solid 1px #331a00;
	box-shadow: 2px 2px 2px #994d00;
	margin-top: 182.5px;
	float: right;
	background: url('../img/seta.png');
}

#botaoMontante:hover{
		box-shadow: 4px 4px 8px #663300;
}

.containerMontante{
	width: 380px;
	height: 230px;
	background-color: #cc99ff;
	border-radius: 10px;
	border: 4px solid #008f83;
	box-shadow: 2px 3px 3px #008075;
	float: right;
	text-align: center;
	background: radial-gradient(80% 80%, #009e91, #fff);
	/* background-color: #00000;
	border-radius: 10px;
	border: solid 4px #331a00;
	box-shadow: 2px 3px 3px #994d00;*/

 /* width: 400px; */
 /*20px para cima e para baixo*/
 /*automático para as laterais*/
 /* margin: 30px auto;
 padding: 50px; */
}

#montante{
	border-style: double;
	border-color: #663300;
	margin-top: 60px;
}

#nomeMontante{
	border: solid 1px #805500;
}



/*#jg2Peca1,#jg2Peca2,#jg2Peca3,#jg2Peca4,#jg2Peca5,#jg2Peca6,#jg2Peca7,
#jg1Peca1,#jg1Peca2,#jg1Peca3,#jg1Peca4,#jg1Peca5,#jg1Peca6,#jg1Peca7{*/
.armazenar{
	width: 50px; /* largura*/
	height: 90px; /*altura*/
	border-radius: 10px;
	border: 1px solid #994d00;
	/*margin-left: 25px;*/
	float: left;
	/*margin-top: 3px;*/
	/* padding: 2px; */
}

.PecasJg{
	width: 52px; /* largura*/
	height: 92px; /*altura*/
	border-radius: 10px;
	border: 1px solid #994d00;
	margin-left: 25px;
	float: left;
	/*margin-top: 3px;*/
	 padding: 2px;

}

#montPeca1,#montPeca2,#montPeca3,#montPeca4,#montPeca5{
	width: 50px; /* largura*/
	height: 90px; /*altura*/
	border-radius: 10px;
	border: 1px solid #994d00;
	margin-left: 5px;
	float: inherit;
	margin-top: 5px;
	margin-right: 15px;
}

#montPeca6,#montPeca7,#montPeca8,#montPeca9,#montPeca10{
	width: 50px; /* largura*/
	height: 90px; /*altura*/
	border-radius: 10px;
	border: 1px solid #994d00;
	margin-left: 5px;
	float: inherit;
	margin-top: 5px;
	margin-right: 15px;
}


#peca{
width: 50px; /* largura*/
height: 90px; /*altura*/
border-radius: 10px;
border: 1px solid #994d00;
margin-left: 25px;
float: left;
margin-top: 5px;
}

/* TELA INICIAL */
	.btTelaInicial{
	display: block;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	/* background-color:#80d4ff; */
	/* background-color:#c68c53; */
	border-radius: 6px ;
	width: 200px;
	/* border: #996633; */
	/* box-shadow: 2px 2px 1px  #0099e6; */
	font-size: 25px;
	font-family: "Times New Roman";
	margin: 5px 5px;
	/* color: #002233;
	text-shadow: 2px 2px 2px #00aaff; */
}

#botaoJogar{
	background-color:#dd99ff;
	border:  #7700b3;
	box-shadow: 2px 2px 1px #c44dff;
	color:#33004d;
	text-shadow: 2px 2px 2px #550080;
}
#botaoJogar:hover{
	box-shadow: 6px 6px 8px #8800cc;
}
#botaoCadastrar{
	background-color: #c2f0c2;
	border: #239023;
	box-shadow: 2px 2px 1px   #2db92d;
	color:   #0f3e0f;
	text-shadow: 2px 2px 2px #239023;
}

#botaoCadastrar:hover{
	box-shadow: 6px 6px 8px  #46d246;
}

#botaoComoJogar{
	background-color:#ffff99;
	border: #e6e600;
	box-shadow: 2px 2px 1px #e6e600;
	color:  #4d4d00;
	text-shadow: 2px 2px 2px #cccc00;
}
#botaoComoJogar:hover{
	box-shadow: 6px 6px 8px #b3b300;
}

#botaoSobre{
	background-color:#ffdd99;
	border: #ffcc66;
	box-shadow: 2px 2px 1px  #ffbb33;
	color: #664400;
	text-shadow: 2px 2px 2px #e69900;
}
#botaoSobre:hover{
	box-shadow: 6px 6px 8px  #ffaa00;
}

.botoes{
	/* background-color: green; */
	width: 200px;
			/* cima direita baixo esquerda */
	margin: 0 auto 5px auto;
}

.botaoVoltar{
text-align:center;
text-decoration: none;
padding-top:5px;
padding-bottom: 5px;
background-color:#00ebd7;
color: #000000;
border-radius: 6px ;
height: 25px;
width: 100px;
border: #008f83;
box-shadow: 4px 4px 1px #00ad9f;
font-size: 15px;
font-family: "Times New Roman";
margin: 2px 2px;
float: right;
}

.botaoVoltar:hover{
box-shadow: 6px 6px 8px #007067;
}

.logo{
 height: 350px;
}

#logo, #imagemLogo{
 width: 800px;
 height: 400px;
 margin: 0 auto 0 auto;
	padding: 0;
}

 /* FONTE DAS LABELS DOS FORMULÁRIOS */
.fontLabel{
	font-size: 20px;
	font-family: "Times New Roman";
	color: #000000;
}



#imagemProf{

	width: 20px;
	height: 20px;
	margin: 200px 10px auto auto;
	background: green;
}


.logoSobre{
	width: 400px;
	/* height: 300px; */
	margin: auto 200px auto 200px;


}
